<details><summary style="display:list-item; font-size:16px; color:blue;">Jupyter Help</summary>
    
Having trouble testing your work? Double-check that you have followed the steps below to write, run, save, and test your code!
    
[Click here for a walkthrough GIF of the steps below](https://static-assets.codecademy.com/Courses/ds-python/jupyter-help.gif)

Run all initial cells to import libraries and datasets. Then follow these steps for each question:
    
1. Add your solution to the cell with `## YOUR SOLUTION HERE ## `.
2. Run the cell by selecting the `Run` button or the `Shift`+`Enter` keys.
3. Save your work by selecting the `Save` button, the `command`+`s` keys (Mac), or `control`+`s` keys (Windows).
4. Select the `Test Work` button at the bottom left to test your work.

![Screenshot of the buttons at the top of a Jupyter Notebook. The Run and Save buttons are highlighted](https://static-assets.codecademy.com/Paths/ds-python/jupyter-buttons.png)

Setup

In [1]:
import pandas as pd
vehicles = pd.read_csv('vehicles.csv')
vehicles.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
0,12988,amg e53 4matic+ (convertible),2022,auto,mercedes-benz,sedan/wagon,hybrid electric,hybrid electric,28.0
1,689,avalanche ffv,2007,auto,chevrolet,pickup,ethanol (e85),flexible fuel,21.0
2,950,impala,2010,auto,chevrolet,sedan/wagon,ethanol (e85),flexible fuel,29.0
3,250,yukon xl ffv,2004,auto,gmc,suv,ethanol (e85),flexible fuel,18.0
4,13089,sf90 spyder,2022,auto,ferrari,sedan/wagon,plug-in hybrid electric,hybrid electric,19.0

1. Sort `vehicles` by year from lowest (oldest) to highest (newest).

In [3]:
## YOUR SOLUTION HERE ##
vehicles = vehicles.sort_values(by='year')

# show output
vehicles.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
2082,649,taurus ffv,1991,auto,ford,sedan/wagon,methanol,flexible fuel,26.0
1652,658,econoline-fleet demo ffv,1992,unknown,ford,van,methanol,flexible fuel,17.0
1350,648,taurus ffv,1993,auto,ford,sedan/wagon,methanol,flexible fuel,26.0
121,659,econoline-fleet demo ffv,1993,unknown,ford,van,methanol,flexible fuel,17.0
480,632,taurus ffv,1994,auto,ford,sedan/wagon,ethanol (e85),flexible fuel,26.0

2. Sort `vehicles` by `best_mpge` from highest to lowest.

In [4]:
## YOUR SOLUTION HERE ##
vehicles = vehicles.sort_values(by='best_mpge', ascending=False)

# show output
vehicles.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
159,11844,ioniq electric,2018,auto,hyundai,sedan/wagon,electric,dedicated,150.0
2142,12061,ioniq electric,2019,auto,hyundai,sedan/wagon,electric,dedicated,150.0
1507,11640,ioniq,2017,auto,hyundai,sedan/wagon,electric,dedicated,150.0
511,12752,model 3 standard range plus rwd,2021,auto,tesla,sedan/wagon,electric,dedicated,150.0
647,12370,model 3 standard range plus,2020,auto,tesla,sedan/wagon,electric,dedicated,148.0

3. We've already created a Series `year_counts` that counts the number of models per year in the dataset. Sort the index of `year_counts` to put the Series in chronological order from oldest/lowest to newest/highest. Does the number of models go up over time, or are there years where it fluctuates?

In [5]:
year_counts = vehicles['year'].value_counts()

## YOUR SOLUTION HERE ##
year_counts = year_counts = year_counts.sort_index()

# show output
year_counts

1991      1
1992      1
1993      2
1994      2
1995      8
1996      8
1997     16
1998     22
1999     36
2000     31
2001     28
2002     44
2003     42
2004     39
2005     37
2006     36
2007     46
2008     49
2009     56
2010     56
2011    109
2012     99
2013    130
2014    120
2015    123
2016     89
2017    142
2018    170
2019    194
2020    199
2021    263
2022    320
2023      2
Name: year, dtype: int64